section.fonts
      .flex.flex--space-around
            .col-2
                  a(href="").rectangle-left.hover
                        .card-list one
                        .card-number 01
                        .card-title Typography
                        .card-project Web Design Concept
                        .card
                        .card-underline
            
