section.about#about
      
      video(autoplay loop)
            source(src="assets/video/home-video.mp4" type="video/mp4")
      
      .flex.flex--center.text-block
            .col-1.push-right
                  h2 Shanesh is Practising Design...
                  p.home-lead so he is trying to make some stuff...
